h1.Top{
    text-align: center;
    font-size: 100px;
}

Button.LoginButton{
    text-align: center;
}

p.form{
    text-align:center;
}

#loginbutton{
    margin-left: 50%;
}

#loadbutton{
    margin-left: 48%;
}

#form2{
    display:block;
}